In [ ]:
from google.colab import files
data1 = files.upload()

Saving Game.csv to Game.csv

# Game

In [ ]:
import io
import pandas as pd
game = pd.read_csv(io.BytesIO(data1['Game.csv']))
game.shape

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (58,64,65,68,79,93) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(62448, 149)

In [ ]:
#drop all null row
game = game.dropna(how='all',axis=0)
print(game.shape)
#drop all null column
game = game.dropna(how='all',axis=1)
print(game.shape)
#drop columns that are mostly NULLS
thresh = len(game) * .99
game.dropna(thresh = thresh, axis = 1, inplace = True)
print(game.shape)
game.head()

(62448, 149)
(62448, 149)
(62448, 50)

    GAME_ID  SEASON_ID  ...  HUSTLE_STATUS HISTORICAL_STATUS
0  24600001      21946  ...            0.0               1.0
1  24600003      21946  ...            0.0               1.0
2  24600004      21946  ...            0.0               1.0
3  24600002      21946  ...            0.0               1.0
4  24600005      21946  ...            0.0               1.0

[5 rows x 50 columns]

In [ ]:
#clean duplicate row (with same key)
counts = game['GAME_ID'].value_counts()
dup_ind = game[game['GAME_ID'].isin(counts.index[counts > 1])].index
dup= list(dup_ind )
remove_ind = dup[1::2]
game.drop(remove_ind, inplace=True)
print(game.shape)

(62379, 50)

In [ ]:
#to updated csv
from google.colab import drive
drive.mount('drive')

Mounted at drive

In [ ]:
game.to_csv('game.csv',index = False)
!cp game.csv "drive/My Drive/"

# Players

In [ ]:
data2 = files.upload()
player = pd.read_csv(io.BytesIO(data2['Players.csv']))
player.shape

Saving Players.csv to Players.csv

(3922, 7)

In [ ]:
#drop all null row
player = player.dropna(how='all',axis=0)
print(player.shape)
#drop all null column
player = player.dropna(how='all',axis=1)
print(player.shape)

(3921, 7)
(3921, 7)

In [ ]:
#no duplicate row in this csv

In [ ]:
#to updated csv
player.to_csv('Players.csv',index = False)
!cp Players.csv "drive/My Drive/"

# Season Stats

In [ ]:
data3 = files.upload()

Saving Seasons_Stats.csv to Seasons_Stats (1).csv

(24691, 52)

In [ ]:
season = pd.read_csv(io.BytesIO(data3['Seasons_Stats.csv']))
season.shape

(24691, 52)

In [ ]:
#drop all null row
season = season.dropna(how='all',axis=0)
print(season.shape)
#drop all null column
season = season.dropna(how='all',axis=1)
print(season.shape)
#drop columns that are mostly NULLS
thresh = len(season) * .95
season.dropna(thresh = thresh, axis = 1, inplace = True)
print(season.shape)
season.head()

(24624, 52)
(24624, 50)
(24624, 28)

     Year           Player  Pos   Age   Tm  ...    FT%  TRB    AST     PF    PTS
0  1950.0  Curly Armstrong  G-F  31.0  FTW  ...  0.705  NaN  176.0  217.0  458.0
1  1950.0     Cliff Barker   SG  29.0  INO  ...  0.708  NaN  109.0   99.0  279.0
2  1950.0    Leo Barnhorst   SF  25.0  CHS  ...  0.698  NaN  140.0  192.0  438.0
3  1950.0       Ed Bartels    F  24.0  TOT  ...  0.559  NaN   20.0   29.0   63.0
4  1950.0       Ed Bartels    F  24.0  DNN  ...  0.548  NaN   20.0   27.0   59.0

[5 rows x 28 columns]

In [ ]:
#no duplicate row

In [ ]:
#to updated csv
season.to_csv('Season_stats.csv',index = False)
!cp Season_stats.csv "drive/My Drive/"

# Team

In [ ]:
data4 = files.upload()

Saving Team.csv to Team.csv

In [ ]:
team = pd.read_csv(io.BytesIO(data4['Team.csv']))
team.head()

           id             full_name  ...          state year_founded
0  1610612737         Atlanta Hawks  ...        Atlanta         1949
1  1610612738        Boston Celtics  ...  Massachusetts         1946
2  1610612739   Cleveland Cavaliers  ...           Ohio         1970
3  1610612740  New Orleans Pelicans  ...      Louisiana         2002
4  1610612741         Chicago Bulls  ...       Illinois         1966

[5 rows x 7 columns]

In [ ]:
#drop all null row
team = team.dropna(how='all',axis=0)
print(team.shape)
#drop all null column
team = team.dropna(how='all',axis=1)
print(team.shape)

(30, 7)
(30, 7)

In [ ]:
#clean duplicate row (with same key)
counts = team['id'].value_counts()
dup_ind = team[team['id'].isin(counts.index[counts > 1])].index
print(dup_ind)
#null

Int64Index([], dtype='int64')

In [ ]:
#to updated csv
team.to_csv('Team.csv',index = False)
!cp Team.csv "drive/My Drive/"